<?xml version="1.0"?>
<!--
  ~ Copyright © 2020
  ~ @copyright Alex Ghiban & JustinKase.ca - All rights reserved.
  ~ @license GPL-3.0-only
  ~ @see https://justinkase.ca or https://ghiban.com
  ~ @contact <alex@justinkase.ca>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="jkase" frontName="jkase">
            <module name="JustinKase_LayoutHints"/>
        </route>
    </router>
</config>
